.btn{
  background-color: #c5e09b;
  border-radius: 5px;
  max-width: fit-content;
}


.m-t-5{
  margin-top: 5px;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-l-10{
  margin-left: 10px;
}

.m-l-5{
  margin-left: 5px;
}

.selected{
  background-color: #7cba01;
}

.mission-color{
  color: #3300b1;
}

.res-color{
  color: #6a6a6a;
}
 

.container2{
  display: flex;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  }

.n-d-f{
  margin-top: 150px !important;
}  

.sidenav {
  flex: 11%;
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  height: fit-content;
}

.flex-100{
  flex:100%;
}

.content-main {
  flex: 78%;
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
}

.col{
  background-color: white;
  flex: 25%;
  margin: 10px 10px 10px 10px;
  align-content: flex-start;
  max-width: 100%;
  border-radius: 5px;
  padding: 15px;
}

.image-div{
  background-color: #f2f2f2;
}

.row-c{
  display: flex; 
     flex-wrap: wrap;
}

.image{
  max-width: 100%;
}

.p-t-10{
  padding-top: 10px;
}

.hr-m{
  margin-top: 0 !important;
  width:80%;
}



 /* On screens that are 700px wide or less, go from two columns to onw column */
 @media screen and (max-width: 700px)  {
  .col{
    flex: 0 0 99%;
   }
   .sidenav{
     flex: 99%;
     margin-left: 20px;
   }
   .content-main{
     flex: 99%;
   }
}



/* On screens that are 701px wide or more, make the columns more than two stack on top of each other instead of next to each other */
@media screen and (min-width: 701px) and (max-width: 1024px) {
  .col{
    flex: 0 0 45%;
   }
   .sidenav{
     flex: 32%;
   }
   .content-main{
     flex: 62%;
   }
}

/* On screens that are 1025px wide or more, make the columns more than four stack on top of each other instead of next to each other */
@media screen and (min-width: 1025px) {
 .col{
  flex: 0 0 22%;
 }
 .sidenav{
   flex: 18%;
 }
}
